{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'slidebar/css/style.css'%}">

</head>

<body>
    <div class="marquee-wrapper">
        <div class="marquee">
            <div class="marquee-group">
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/python.svg' %}" alt="Python icon" /> <span class="marquee-tag">Python</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/html.svg' %}" alt="HTML icon" /> <span class="marquee-tag">HTML</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/css.svg' %}" alt="CSS icon" /> <span class="marquee-tag">CSS</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/javascript.svg' %}" alt="Javascript icon" /> <span class="marquee-tag">JavaScript</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/git.svg' %}" alt="GIT icon" /> <span class="marquee-tag">GIT</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/linux.svg' %}" alt="Bash icon" /> <span class="marquee-tag">Bash</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/ia.svg' %}" alt="IA icon" /> <span class="marquee-tag">IA</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/django.svg' %}" alt="Django icon" /> <span class="marquee-tag">DJANGO</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/docker2.svg' %}" alt="Docker icon" /> <span class="marquee-tag">Docker</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/cloud.svg' %}" alt=" LXC icon" /> <span class="marquee-tag">LXC</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/firewall.svg' %}" alt="Server icon" /> <span class="marquee-tag">Servers</span> </div>
                </a>
            </div>

            <div aria-hidden="true" class="marquee-group">
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/python.svg' %}" alt="Python icon" /> <span class="marquee-tag">Python</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/html.svg' %}" alt="HTML icon" /> <span class="marquee-tag">HTML</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/css.svg' %}" alt="CSS icon" /> <span class="marquee-tag">CSS</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/javascript.svg' %}" alt="Javascript icon" /> <span class="marquee-tag">JavaScript</span></div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/git.svg' %}" alt="GIT icon" /> <span class="marquee-tag">GIT</span></div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/linux.svg' %}" alt="Bash icon" /> <span class="marquee-tag">Bash</span></div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/ia.svg' %}" alt="IA icon" /> <span class="marquee-tag">IA</span></div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/django.svg' %}" alt="Django icon" /> <span class="marquee-tag">DJANGO</span></div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/docker2.svg' %}" alt="Docker icon" /> <span class="marquee-tag">Docker</span></div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/cloud.svg' %}" alt=" LXC icon" /> <span class="marquee-tag">LXC</span> </div>
                </a>
                <a href='#' class="marquee-tag-wrapper">
                    <div class="marquee-tag-container"> <img class="marquee-tag-icon" width="32" height="32" src="{% static 'img/firewall.svg' %}" alt="Server icon" /> <span class="marquee-tag">Servers</span></div>
                </a>
            </div>
            <div class="fade"></div>
        </div>
    </div>


</body>

</html>