{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everyhost - Log in </title>
    <link rel="stylesheet" href="{% static 'auth/css/style.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Epilogue' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'img/headicon.png' %}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../"><img src="{% static 'img/logo.png' %}" alt="" id="imgblue"></a>
                <a href="../"><img src="{% static 'img/logowhite.png' %}" alt="" id="imgwhite"></a>
            </div>
            <div class="nav-items">
                <a href="login">Log in</a>
                <a href="signup" id="signup">Sign up</a>
            </div>
        </nav>
    </header>
    <section>
        <div class="user-details">
            <form method="post">
                {% csrf_token %}
                <h5>Inicia sesión</h5>
                <div class="input-box">
                    <span class="details">Nombre de usuario</span>
                    <input type="text" name="username" required >
                </div>
                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" name="password" required >
                </div>

                <div class="input-box">
                    <button type="submit" class="registerbtn">Entrar</button>
                </div>
                <div class="account-box">
                    <p>¿Aún no tienes una cuenta? <a href="signup">Registrate</a>.</p>
                </div>
                {% for message in messages %}
                    <div id="messages">{{message}}</div></p>
                {% endfor %}
            </form>
            <script>
                //Field Placeholder to use with DJANGO
                var form_fields = document.getElementsByTagName('input')
                form_fields[1].placeholder = "Introduce your username";
                form_fields[2].placeholder = "Introduce your password";
            </script>
        </div>

    </section>
</body>

</html>