{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everyhost - Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Epilogue' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c8a739af4d.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/headicon.png' %}">
</head>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#"><img src="{% static 'img/logo.png' %}"alt=""></a>
            </div>
            <div class="nav-items">
                <p>{{username}}</p>
            </div>
        </nav>
    </header>
    <section>
        <div class="sidebar">
            <div class="sidebar-top-items">
                <a href="">
                    <i class="fa-solid fa-server"></i>
                </a>
                <a href="{% url 'addService' %}">
                    <i class="fa-regular fa-square-plus"></i>
                </a>
            </div>
            <div class="sidebar-bottom-items">
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                </a>
                <a href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
        <div class="dashboard">
            <div class="main-title">
                <h1>Welcome to EHSPanel, {{username}}! 👋</h1>
            </div>
            {% if checkDocker %}
            <div class="server-parent">
                {% for docker in dockerList %}
                {% if docker.status %}
                <div class="server">
                    <div class="flex-row">
                        <div class="server-icon">
                            <img src="{% static 'img/whitesrv.svg' %}" alt="">
                        </div>
                        <ul class="server-details">
                            <li>Hostname:<span class="data"><a href="https://{{ docker.subdomain }}.everyhost.io" target="_blank">{{ docker.subdomain }}.everyhost.io</a></span></li>
                            <li>Status:<span class="data on">Running</span></li>
                            <li>Service:<span class="data port">{{docker.software}}</span></li>
                        </ul>
                    </div>
                    <div class="control">
                        <form action="{% url 'stopService' docker.software docker.id %}" method="post">
                            {% csrf_token %}
                            <button class="button-panel stop" role="button">Stop</button>
                          </form>
                    </div>
                </div>
                <!--If docker state is False -->
                {% else %}
                <div class="server">
                    <div class="flex-row">
                        <div class="server-icon">
                            <img src="{% static 'img/whitesrv.svg' %}" alt="">
                        </div>
                        <ul class="server-details">
                            <li>Hostname:<span class="data"><a href="https://{{ docker.subdomain }}.everyhost.io" target="_blank">{{ docker.subdomain }}.everyhost.io</a></span></li>
                            <li>Status:<span class="data off">OFFLINE</span></li>
                            <li>Service:<span class="data port">{{docker.software}}</span></li>
                        </ul>
                    </div>
                    <div class="control">
                          <form action="{% url 'startService' docker.software docker.id %}" method="post">
                            {% csrf_token %}
                            <button class="button-panel start" role="button">Start</button>
                          </form>
                          <form action="{% url 'deleteService' docker.id %}" method="get">
                            {% csrf_token %}
                            <button class="button-panel delete" role="button"><i class="fa">&#xf014;</i></button>
                          </form>
                    </div>

                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="main-title">
            <p>To get started, please create a service using the form on the left!</p>
            </div>
                {% endif %}
        </div>
        </div>
    </section>
</body>
<script>

let previousTitle = document.title
window.addEventListener('blur', () => {
    previousTitle = document.title
    document.title = 'Tus servicios te necesitan! 😨'

})

window.addEventListener('focus',() => {
    document.title = previousTitle
})
</script>
</html>
